body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image:url(1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

.form-container {
    text-align: center;
    background-color: #ffcc33;
    padding: 50px;
    border-radius: 75px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    margin: 1;
}

.login-button {
    background-color: #ffcc33;
    color: #000;
    border: none;
    padding: 15px 80px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}
