body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: #ffcc33;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

header {
    background-color: #ffcc33; /* Donkergrijze achtergrondkleur */
    color: #fff; /* Witte tekstkleur */
    text-align: center;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 90px;
    margin: 0%;
}

.header-contact-info p {
    margin: 0;
    padding: 0 10px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.product {
    border: 1px solid #ddd; /* Lichtgrijze rand */
    padding: 20px;
    margin: 20px;
    width: 300px;
    background-color: #f9f9f9; /* Lichtgrijze achtergrondkleur */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Zachte schaduw */
}

.cart-link {
    color: #3498db; /* Donkerblauwe tekstkleur */
    text-decoration: none;
}

.cart-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

#total-price {
    font-weight: bold;
    margin-top: 10px;
}

#clear-cart {
    background-color: #ff0000; /* Rode achtergrondkleur */
    color: #fff; /* Witte tekstkleur */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

#continue-shopping {
    background-color: #00ff26; /* Groene achtergrondkleur */
    color: #fff; /* Witte tekstkleur */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

#continue-shopping:hover {
    background-color: #00af17; /* Donkergroene achtergrondkleur bij hover */
}

#clear-cart:hover {
    background-color: #cc0000; /* Donkerrode achtergrondkleur bij hover */
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 98%;
    background-color: #ffcc33; /* Donkergrijze achtergrondkleur */
    color: black; /* Witte tekstkleur */
    padding: 20px;
    text-align: center;
    max-height: 90px;

}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact-info, .trust-pilot, .payment-methods {
    flex: 1;
}

.contact-info h2, .contact-info p {
    margin: 0;
    padding: 5px;
}

.trust-pilot h2, .trust-pilot p {
    margin: 0;
    padding: 5px;
}

.payment-methods h2 {
    margin: 0;
    padding: 5px;
}

.payment-methods img {
    width: 100px;
    margin: 10px;
}

a.trustpilot-link {
    color: #1972c6; /* Donkerblauwe tekstkleur zoals in de homepage */
    text-decoration: none;
}

a.trustpilot-link:hover {
    text-decoration: underline;
}
